<div class="todo-container">
  <h1>To-do App</h1>

  <div class="todo-input">
    <input type="text" [(ngModel)]="newTodo" placeholder="Add a new task" />
    <button class="add-btn" (click)="addTodo()">Add</button>
  </div>
  <p *ngIf="todos.length === 0">No tasks yet. Add a new one!</p>

  <ul>
    <app-todo-item
      *ngFor="let item of todos; let i = index"
      [index]="i"
      [isNew]="i === lastAddedIndex"
      (removeItem)="removeTodo(i)"
    >
      {{ item }}
    </app-todo-item>
  </ul>

  <p [ngClass]="{ highlight: todos.length > 1 }">
    You have {{ todos.length }} {{ taskLabel }}
  </p>
</div>
