<div class="todo-container">
  <h1>To-do App</h1>

  <div class="todo-input">
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
      <input
        type="text"
        formControlName="newTodo"
        placeholder="Add a new task"
      />
      <button type="submit" [disabled]="todoForm.invalid" class="add-btn">
        Add
      </button>
    </form>
  </div>
  <div style="color: red" *ngIf="todoForm.get('newTodo') as ctrl">
    <div *ngIf="ctrl.hasError('minlength') && ctrl.touched">
      Task must be at least 3 characters.
    </div>
    <div *ngIf="ctrl.hasError('taskExists')">
      This task already exists on server!
    </div>
  </div>

  <p *ngIf="(todos$ | async)?.length === 0">No tasks yet. Add a new one!</p>

  <ul>
    <app-todo-item
      *ngFor="let item of todos$ | async; let i = index"
      [index]="i"
      (removeItem)="removeTodo(i)"
    >
      {{ item | uppercaseFirst }}
    </app-todo-item>
  </ul>

  <p [ngClass]="{ highlight: todos.length > 1 }">
    You have total {{ todos.length | number }} {{ taskLabel }}
  </p>
</div>
